In [15]:
import os

import pandas as pd
import numpy as np
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [16]:
TRAIN_POS_PATH = '../aclImdb/train/pos/'
TRAIN_NEG_PATH = '../aclImdb/train/neg/'

TEST_POS_PATH = '../aclImdb/test/pos/'
TEST_NEG_PATH = '../aclImdb/test/neg/'

In [17]:
# read train files to dataframe

train = []

for file in tqdm(os.listdir(TRAIN_POS_PATH)):
    with open(TRAIN_POS_PATH + file, 'r') as f:
        train.append([f.read(), file[:-4].split('_')[1]])
        
for file in tqdm(os.listdir(TRAIN_NEG_PATH)):
    with open(TRAIN_NEG_PATH + file, 'r') as f:
        train.append([f.read(), file[:-4].split('_')[1]])
        
train_df = pd.DataFrame(train, columns=['Review', 'Rating'])

100%|██████████| 12500/12500 [00:02<00:00, 4525.44it/s]
100%|██████████| 12500/12500 [00:02<00:00, 4946.94it/s]

In [18]:
train_df.head()

                                              Review Rating
0  Dog days is one of most accurate films i've ev...     10
1  In the Hollywood west those trail hands were a...      8
2  After watching the Next Action Star reality TV...      7
3  Considering the lack of art with in African ci...     10
4  mature intelligent and highly charged melodram...     10

In [19]:
# read test files to dataframe

test = []

for file in tqdm(os.listdir(TEST_POS_PATH)):
    with open(TEST_POS_PATH + file, 'r') as f:
        test.append([f.read(), file[:-4].split('_')[1]])
        
for file in tqdm(os.listdir(TEST_NEG_PATH)):
    with open(TEST_NEG_PATH + file, 'r') as f:
        test.append([f.read(), file[:-4].split('_')[1]])
        
test_df = pd.DataFrame(test, columns=['Review', 'Rating'])

100%|██████████| 12500/12500 [00:00<00:00, 33892.01it/s]
100%|██████████| 12500/12500 [00:02<00:00, 4603.63it/s]

In [20]:
test_df.head()

                                              Review Rating
0  This is fantastic! Everything from the Score -...     10
1  This movie was amazing!!!! From beginning to e...     10
2  The first time I've seen this DVD, I was not o...     10
3  One of the flat-out drollest movies of all-tim...     10
4  When I first got wind of this picture, it was ...      9

In [21]:
# check if there are duplicates in "Review" column of train_df
train_df.shape[0] - train_df['Review'].nunique()

96

In [22]:
# check if there are duplicates in "Review" column of test_df
test_df.shape[0] - test_df['Review'].nunique()

199

In [23]:
train_df.shape[0]

25000

In [24]:
# let's get rid of duplicates
train_df = train_df.drop_duplicates(subset=['Review'])
test_df = test_df.drop_duplicates(subset=['Review'])

In [25]:
# check if ratings are in range from 1 to 10
train_df['Rating'].value_counts()

1     5068
10    4718
8     3006
4     2679
7     2493
3     2413
2     2272
9     2255
Name: Rating, dtype: int64

In [26]:
test_df['Rating'].value_counts()

10    4965
1     4948
8     2841
4     2619
3     2514
9     2339
7     2295
2     2280
Name: Rating, dtype: int64

In [27]:
# save train and test dataframes to .csv files
train_df.to_csv('../csv/train.csv', index=False)
test_df.to_csv('../csv/test.csv', index=False)